<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <servlet>
    <servlet-name>StartSevlet</servlet-name>
    <servlet-class>rrnchelper.servlet.StartSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StopServlet</servlet-name>
    <servlet-class>rrnchelper.servlet.StopServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoWorkServlet</servlet-name>
    <servlet-class>rrnchelper.servlet.AutoWorkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoStealServlet</servlet-name>
    <servlet-class>rrnchelper.servlet.AutoStealServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>rrnchelper.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegenerateUpdateEventsServlet</servlet-name>
    <servlet-class>rrnchelper.servlet.RegenerateUpdateEventsServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>StartSevlet</servlet-name>
    <url-pattern>/start.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StopServlet</servlet-name>
    <url-pattern>/stop.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoWorkServlet</servlet-name>
    <url-pattern>/autowork.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoStealServlet</servlet-name>
    <url-pattern>/autosteal.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegenerateUpdateEventsServlet</servlet-name>
    <url-pattern>/regenerateupdateevents.do</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
